@media (min-width: 992px){
.navbar-nav > li{
    padding-left:20px;
    padding-right:20px;
  }

.navbar-brand{
    padding-right: 100px;
}

}


.navbar-custom {
    background-color: #fff;
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: #1E9AF2;
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: #1E9AF2;
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #1E9AF2;
}

.border-custom {
    border-bottom: 2px solid rgba(30, 154, 242, 0.3);
    
}

@media (min-width: 992px){
    .navbar-text{
        padding-right:20px;
    }
    
    }

    
@media (min-width: 992px){
    .sign-up-custom{
        margin-right:100px;
        color: #1E9AF2 !important;
        border-color:#1E9AF2 !important;
    }
    
    }

.custom-h1
{
    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
    font-weight:bold;

}

.hero{
    margin-top:50px;
}

.hero-paragraph{
    color:#797891;
}




/* search-bar */

* {
    box-sizing: border-box;
  }
  
  #myInput {
    background-image: url('/css/searchicon.png');
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd !important;
    margin-bottom: 12px;
    border-radius: 25px;
  }
  
  #myUL {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  #myUL li a {
    border: 1px solid #ddd;
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block
  }
  
  #myUL li a:hover:not(.header) {
    background-color: #eee;
  }

  .btn{
    border-radius: 25px!important;
  }

  .custom-button
  {
      width:175px;
  }

  .textabovebutton{
      font-size: 14px;
 
  }

  
  .custom-button2
  {
      width:175px;
     
    color: #1E9AF2 !important;
    border-color: #1E9AF2 !important;
  }


  textarea{
      width: 100%;
      border-radius: 1.25rem;
      height: 200px;
      border-style: none;
      resize:none!important;
  }

  .contact-button
  {
      background: #1E9AF2 !important;
      color:white !important;
      width:200px;
  }

  .form-control{
      border-radius: 1.25rem !important;
  }

  .card-contactus{
      height:450px;
  }

  .contactus-form input[type="text"], textarea {

    background-color:#E8F5FE; 
  
  }

  .contactus-form  input[type="email"], textarea {

    background-color :#E8F5FE; 
  
  }
  .contactus-form input[type="name"], textarea {

    background-color :#E8F5FE;
  
  }


  header.masthead {
    padding-top: 10rem;
    padding-bottom: calc(10rem - 72px);
    background: -webkit-gradient(linear,left top,left bottom,from(rgba(92,77,66,.8)),to(rgba(92,77,66,.8))),url(../img/bg-masthead.jpg);
    background: url(../img/background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}


  